.Blog
  background-color $primary-black
  width 100%

  display block
  margin 0
  padding 0

  &Container
    box-sizing border-box
    display block
    margin 0 auto
    padding 2rem 0

  &Header
    color $primary-white
    text-align center

  &Title
    border-bottom 4px solid $primary-red
    font-family 'Molot'
    font-size 2rem

    display inline-block
    margin-bottom 3rem

  &Posts
    box-sizing border-box
    font-family 'Florida'
    list-style none
    width 100%

    display block
    margin 0
    padding 0

  &Post
    background-color $secondary-black
    border-radius 0.25rem
    box-sizing border-box

    display block
    padding 1rem

    &Header
      color $primary-red
      margin-bottom 1rem

    &Title
      font-size 1.7rem
      margin 0

    &Link
      text-decoration none

      &:hover
        cursor pointer
        text-decoration underline

    &Meta
      list-style none

      margin 1rem 0
      padding 0

      &Item
        display inline-block

      &Link
        background-color $primary-red
        border-radius 0.25rem
        color $primary-white
        font-size 0.8rem

        display block
        padding 0.25rem

        &:hover
          cursor pointer
          text-decoration underline

    &Text
      color $primary-white
      line-height 1.5

      margin 0

  @media all and (max-width 600px)
    &Container
      padding 4rem 1rem 2rem 1rem

    &Title
      font-size 1.5rem
      margin-bottom 1rem

  @media all and (min-width 601px) and (max-width 1200px)
    &Container
      padding 2rem

    &Title
      font-size 1.75rem

  @media all and (min-width 1201px)
    &Container
      padding 2rem
      width 1200px
