.Contact
  font-family 'Florida'
  width 100%

  display block
  margin 0 auto
  padding 0

  &Container
    box-sizing border-box
    white-space nowrap
    width 1200px

    display block
    margin 0 auto
    padding 2rem 0

  &Header
    display block
    text-align center

  &Title
    border-bottom 4px solid $primary-red
    font-family 'Molot'
    font-size 2rem

    display inline-block
    margin-bottom 3rem

  &Segment
    box-sizing border-box
    width 50%

    display inline-block
    margin 0
    padding 0
    vertical-align top

  &Form
    width 100%

    margin 0
    padding 0

  &Input
  &Textarea
  &Submit
    box-sizing border-box
    width 100%

    display block
    margin 1rem 0
    padding 1rem

  &Input
    &:first-child
      margin-top 0

  &Submit
    background-color $primary-red
    border none
    color $primary-white
    font-weight bold

    padding 0.75rem

  &Textarea
    height 150px

  &Text
    margin 0
    line-height 1.5

  @media all and (max-width 600px)
    &Container
      padding 1rem
      width 100%

    &Segment
      width 100%
      display block
      margin 0

      &:last-child
        margin-top 2rem

  @media all and (min-width 601px) and (max-width 1201px)
    &Container
      padding 2rem
      width 100%
