.Footer
  background-color $primary-black
  color $primary-white
  font-family 'Florida'
  text-align center

  margin 0
  padding 0

  &Text
    margin 0
    padding 2rem

    &:first-child
      padding-bottom 0

  &Icon
    display inline-block
    font-size 1.75rem
    margin 0 0.5rem

  &Link
    color $primary-red
    font-weight bold
