.Footer
  background-color $primary-white
  color $primary-white
  font-family 'Florida'
  text-align center

  margin 0
  padding 2rem

  &Title
    border-bottom 4px solid $primary-red
    color $primary-black
    display inline-block
    font-size 2rem

  &Text
    color $primary-black
    display block
    margin 1rem 0
    padding 0

  &Icon
    display inline-block
    font-size 1.75rem
    margin 0 0.5rem

  &Link
    color $primary-red
    font-weight bold
    text-decoration none
