.Gallery
  width 100%

  display block
  margin 0
  padding 0

  &Container
    box-sizing border-box

    margin 0 auto
    padding 2rem 0

  &Header
    text-align center

    display block
    margin 0 auto
    padding 0

  &Title
    border-bottom 4px solid $primary-red
    color $primary-black
    font-size 2rem

    display inline-block

  &List
    box-sizing border-box
    word-wrap nowrap

    margin 0 auto
    padding 0

  &Item
    width 19.5%

    display inline-block
    margin 0
    padding 0
    vertical-align top

  &Picture
    max-width 100%

  @media all and (max-width 600px)
    &Container
      padding 1rem

    &Item
      width 49%

  @media all and (min-width 601px) and (max-width 1200px)
    &Container
      padding 2rem

    &Item
      width 24%

  @media all and (min-width 1201px)
    &Container
      width 1200px
