.Gallery
  width 100%

  display block
  margin 0
  padding 0

  &Container
    box-sizing border-box

    margin 0 auto
    padding 2rem 0

  &Viewer
    &[data-visible='false']
      display none

    &[data-visible='true']
      background-color rgba(40, 40, 40, 0.7)
      display block
      position fixed
      top 0
      right 0
      bottom 0
      left 0
      z-index 10

    &Container
      height 100%
      width 100%

    &Header
      background-color $primary-white
      width 100%

    &Tab
      display flex
      justify-content space-between
      margin 0 auto
      padding 0.5rem 0
      width 1200px

    &Button
      background-color transparent
      border 3px solid $primary-black
      color $primary-black
      font-weight bold
      padding 0.5rem 0.75rem

      &:hover
        cursor pointer

    &Image
      width auto
      height 90%
      display block
      margin 0 auto

  &Header
    text-align center

    display block
    margin 0 auto
    padding 0

  &Title
    border-bottom 4px solid $primary-red
    color $primary-black
    font-family 'Florida'
    font-size 2rem

    display inline-block

  &List
    box-sizing border-box
    word-wrap nowrap

    margin 0 auto
    padding 0

  &Item
    width 19.5%

    display inline-block
    margin 0
    padding 0
    vertical-align top

  &Picture
    max-width 100%

    &:hover
      cursor pointer

  @media all and (max-width 600px)
    &Container
      padding 4rem 1rem 2rem 1rem

    &Item
      width 49%

    &Title
      font-size 1.5rem

    &Viewer
      &Button
        font-size 0.8rem
        padding 0.25rem 0.5rem

      &Box
        box-sizing border-box
        padding 1rem

      &Image
        height auto
        width 100%

  @media all and (min-width 601px) and (max-width 1200px)
    &Container
      padding 2rem

    &Item
      width 24%

    &Viewer
      &Box
        box-sizing border-box
        padding 1rem

      &Image
        width 100%

  @media all and (min-width 1201px)
    &Container
      width 1200px

    &Viewer
      &Box
        box-sizing border-box
        height 90%
        padding 1rem

      &Image
        height 90%
