.Hero
  background-image url(../images/background-disk.png)
  background-size contain
  background-repeat no-repeat
  background-position center 3rem

  display block
  height 100vh

  &Container
    display block
    margin 0 auto
    padding 0
    width 1200px
