.Hero
  display block

  &Container
    display block
    margin 0 auto
    padding 4rem 0 2rem 0

  &Disk
    animation rotateBackground 5s infinite linear
    background-image url(../images/background-disk.png)
    display block
    margin 0 auto
    height 90vh

  &Header
    text-align center

    display block
    margin -10rem auto
    padding 0
    position relative
    z-index 2

  &Button
    border 4px solid $primary-red
    color $primary-red
    font-size 1.5rem
    font-weight bold
    text-align center
    text-decoration none
    transition all 0.2 ease

    display inline-block
    margin 0 auto
    padding 1rem

    &:hover
      text-decoration underline

  @media all and (max-width 600px)
    &Button
      font-size 1rem

    &Container
      height 30vh

    &Disk
      height 30vh

    &Header
      margin -4rem auto

    &Button
      padding 0.5rem 0.7rem

  @media all and (min-width 601px) and (max-width 1200px)
    &Container
      height 50vh

    &Button
      font-size 1.2rem
      padding 1rem

    &Disk
      height 50vh

    &Header
      margin -5rem auto

  @media all and (min-width 1201px)
    height 100vh

    &Container
      width 1200px

@keyframes rotateBackground
  0%
    transform rotate(0deg)

  100%
    transform rotate(361deg)
