.Nav
  background-color $primary-red

  margin 0 auto
  padding 0
  width 100%

  position fixed
  top 0
  right 0
  left 0

  &Container
    margin 0 auto
    width 1200px

  &Tabs
    list-style none

    align-items center
    display flex
    justify-content space-between
    margin 0
    padding 0

  &Logo
    background-color rgb(40, 40, 40)
    display block
    margin 1rem 0

    &Image
      display block
      height 50px
      width 50px

  &Link
    border-bottom 4px solid transparent
    color white
    font-weight bold
    text-decoration none
    transition 0.2s  ease

    &:hover
      border-bottom 4px solid white
