.Nav
  background-color $primary-red
  font-family 'Florida'

  margin 0 auto
  padding 0
  width 100%

  position fixed
  top 0
  right 0
  left 0
  z-index 5

  &Container
    box-sizing border-box
    margin 0 auto
    padding 0.5rem 2rem
    transition all 0.25s ease

  &Tabs
    list-style none

    align-items center
    display flex
    justify-content space-between
    margin 0
    padding 0

  &Logo
    display block
    margin 1rem 0

    &Image
      display block
      height 50px

  &Link
    border-bottom 4px solid transparent
    color white
    font-weight bold
    text-decoration none
    transition 0.2s  ease

    &:hover
      border-bottom 3px solid white

  @media all and (max-width 600px)
    &Tabs
      display none

  @media all and (min-width 601px) and (max-width 1200px)
    &Container
      box-sizing border-box
      font-size 1rem
      width 100%

      padding 0 1rem

  @media all and (min-width 1201px)
    &Container
      font-size 1.2rem
      width 1200px
