.Us
  display block
  margin 0 auto
  padding 0
  width 100%

  &Container
    box-sizing border-box
    display block
    margin 0 auto
    padding 2rem

  &Header
    text-align center

    display block
    margin 0 auto

  &Title
    border-bottom 4px solid $primary-red
    font-family 'Florida'
    font-size 2rem
    text-align center

    display inline-block
    margin 2rem auto

  &Gallery
    font-family 'Florida'
    justify-content space-between
    list-style none

    display flex
    padding 0

  &Item
    &Header
      background-size cover
      box-sizing border-box
      color white
      text-align center

      padding 2rem

      &#saxo
        background-image url(../images/header-saxo.png)

      &#guitar
        background-image url(../images/header-guitar.png)

      &#drums
        background-image url(../images/header-drums.png)

    &Title
      background-color $primary-red-transparent

      display inline-block
      padding 1rem

    &Body
      background-color $primary-black
      border-radius 0 0 0.5rem 0.5rem
      box-sizing border-box

      align-content center
      align-items center
      display flex
      flex-direction column
      justify-content space-between
      padding 1.5rem

    &Description
      color white
      text-align center

      margin 0

    &Link
      font-weight bold
      text-align center
      text-decoration none

      display block
      margin 1rem auto 0 auto

      &:active
      &:link
      &:visited
        color $primary-red

      &:hover
        cursor pointer
        text-decoration underline

  @media all and (max-width 600px)
    &Container
      padding 5rem 1rem 1rem 1rem

    &Title
      font-size 1.5rem

    &Gallery
      display block

    &Item
      display block
      margin 1rem auto

      &:first-child
        margin-top 0

      &:last-child
        margin-bottom 0

      &Header
        display block
        width 100%

      &Body
        display block
        width 100%

  @media all and (min-width 601px) and (max-width 800px)
    &Gallery
      display block

    &Item
      width 90%

      display flex
      margin 1rem auto

      &:first-child
        margin-top 0

      &Header
        border-radius 0
        width 40%

      &Body
        border-radius 0
        justify-content center
        width 60%

      &Description
      &Link
        text-align left

      &Link
        margin 1rem 0 0 0

  @media all and (min-width 801px) and (max-width 1200px)
    &Container
      padding 2rem

    &Gallery
      align-items stretch

    &Item
      align-self stretch
      width 30%

      &Header
        align-items center
        height 200px
        justify-content center

        display flex

      &Body
        height 226px

  @media all and (min-width 1201px)
    &Container
      width 1200px

    &Item
      width 360px

      &Body
        height 160px
