section(class='Popup', data-visible='false', id='failure-popup')
  div(class='PopupContainer')
    header(class='PopupHeader')
      h3(class='PopupTitle') Oops...
      button(class='PopupClose', id='failure-close') CERRAR

    p(class='PopupText') Lo sentimos, algo salio mal al intentar enviar tu email. Intentalo más tarde.
