section(class='Popup', data-visible='false', id='how-popup')
  div(class='PopupContainer')
    header(class='PopupHeader')
      h3(class='PopupTitle') ¿Cómo?
      button(class='PopupClose', id='how-close') CERRAR

    p(class='PopupText') En Music Hunter nos dedicamos a conectar tu música con venues, eventos, y personas, haciendo una curaduría de cada uno para que todo escucha se convierta en fan.
