section(class='Popup', data-visible='false', id='how-popup')
  div(class='PopupContainer')
    header(class='PopupHeader')
      h3(class='PopupTitle') ¿Cómo?
      button(class='PopupClose', id='how-close') CERRAR

    p(class='PopupText') Conectamos tu música con foros a los que frecuentan influencers + el público que va a disfrutar de tú música y te ayudará a llevar el show al siguiente nivel.
