section(class='Popup', data-visible='false', id='success-popup')
  div(class='PopupContainer')
    header(class='PopupHeader')
      h3(class='PopupTitle') Email Enviado
      button(class='PopupClose', id='success-close') CERRAR

    p(class='PopupText') Gracias por tu interes, nos pondremos en contacto contigo lo más pronto posible.
