section(class='Popup', data-visible='false', id='what-popup')
  div(class='PopupContainer')
    header(class='PopupHeader')
      h3(class='PopupTitle') ¿Qué?
      button(class='PopupClose', id='what-close') CERRAR

    p(class='PopupText') Queremos que las bandas mexicanas sean headliners de los grandes fetivales.

    p(class='PopupText') México necesita desarrollar el talento on stage de sus músicos. Para esto es fundamental tocar, tocar un poco más y después de unas chelas en el cuarto de ensayo salir al escenario y dejar boquiabiertos a todos.

    p(class='PopupText') Nosotros hacemos un calendario personalizado a tu banda para que tengas tocadas en vivo ,ahorrandote  el dolor de cabeza de alejarte del cuarto de ensayo y tus compas para buscar al gerente de ese bar donde tal vez te dejan tocar.
