section(class='Popup', data-visible='false', id='why-popup')
  div(class='PopupContainer')
    header(class='PopupHeader')
      h3(class='PopupTitle') ¿Por qué?
      button(class='PopupClose', id='why-close') CERRAR

    p(class='PopupText') Creemos  ciegamente en que los creador musicales como tu van a ser los más importantes en la escena musical mundial.

    p(class='PopupText') Por eso creamos Music Hunter, para asegurarnos que los proyectos como el tuyo lleguen a lo más alto.
