@require './vendor/normalize'

@require './base/reset'
@require './base/colors'

@require './components/nav'
@require './components/hero'
@require './components/banner'

.Us
  display block
  margin 0 auto
  padding 0
  width 100%

  &Container
    display block
    margin 0 auto
    padding 2REM 0

    width 1200px

  &Header
    text-align center

    display block
    margin 0 auto

  &Title
    border-bottom 4px solid $primary-red
    font-size 2rem
    text-align center

    display inline-block
    margin 0 auto 1rem auto

  &Gallery
    list-style none

    display flex
    justify-content space-between
    padding 0

  &Item
    width 30%

    &Header
      background-size cover
      box-sizing border-box
      color white
      text-align center

      padding 2rem

      &#saxo
        background-image url(../images/header-saxo.png)

      &#guitar
        background-image url(../images/header-guitar.png)

      &#drums
        background-image url(../images/header-drums.png)

    &Title
      background-color $primary-red-transparent

      display inline-block
      padding 1rem

    &Body
      background-color $primary-black
      border-radius 0 0 0.5rem 0.5rem
      box-sizing border-box

      align-content center
      align-items center
      display flex
      flex-direction column
      justify-content space-between
      padding 1.5rem

    &Description
      color white
      text-align center

      margin 0

    &Link
      font-weight bold
      text-align center
      text-decoration none

      display block
      margin 1rem auto 0 auto

      &:active
      &:link
      &:visited
        color $primary-red

      &:hover
        cursor pointer
        text-decoration underline
