@require './vendor/normalize'

@require './base/reset'
@require './base/colors'
@require './base/fonts'

@require './components/nav'
@require './components/hero'
@require './components/banner'
@require './components/us'
@require './components/gallery'
@require './components/blog'
@require './components/contact'
@require './components/footer'
