article(class='Banner')
  div(class='BannerContainer')
    h2(class='BannerTitle') Bienvenido a la casa de la música emergente
    p(class='BannerSlogan') Que estes por acá buscando, habla genialidades de ti. La gente como tu es la que impula a la escena nacional y la convertirá en una de las mejores del mundo. !Te agradecemos por eso, Rockeas!
