article(class='Banner', id='welcome')
  div(class='BannerContainer')
    h2(class='BannerTitle') Bienvenido a la casa de la música emergente
    p(class='BannerSlogan') Que estés por acá habla muy bien de ti. Las personas como tú son quienes impulsan la escena nacional y la convertirán en la mejor del mundo.
