article(class='Blog')
  div(class='BlogContainer')
    header(class='BlogHeader')
      h2(class='BlogTitle') BLOG

    ul(class='BlogPosts')
      li(class='BlogPost')
        header(class='BlogPostHeader')
          h3(class='BlogPostTitle')
           a(class='BlogPostLink') Música trukutruh!

        did(class='BlogPostBody')
          p(class='BlogPostText') La música trukutruh manda
