article(class='Blog', id='blog')
  div(class='BlogContainer')
    header(class='BlogHeader')
      h2(class='BlogTitle') BLOG

    ul(class='BlogPosts')
      li(class='BlogPost')
        header(class='BlogPostHeader')
          h3(class='BlogPostTitle')
            a(class='BlogPostLink') Música trukutruh!
          ul(class='BlogPostMeta')
            li(class='BlogPostMetaItem')
             a(class='BlogPostMetaLink') Ragnar Danneskjold
            li(class='BlogPostMetaItem')
              a(class='BlogPostMetaLink') 1 Oct 2016

        did(class='BlogPostBody')
          p(class='BlogPostText') La música trukutruh manda
