footer(class='Contact', id='contact')
  div(class='ContactContainer')
    header(class='ContactHeader')
      h2(class='ContactTitle') CONTACTO

    div(class='ContactSegment')
      p(class='ContactText') Telefono Célular
      p(class='ContactText') 921 240 9834
      p(class='ContactText') Escribenos a:
      p(class='ContactText') hola@musichunter.com

    div(class='ContactSegment')
      form(class='ContactForm')
        input(class='ContactInput', type='text', placeholder='Nombre')
        input(class='ContactInput', type='text', placeholder='Email')
        textarea(class='ContactTextarea', type='text', placeholder='Mensaje')
        input(class='ContactSubmit', type='submit', value='Enviar')
