footer(class='Contact')
  div(class='ContactContainer')
    header(class='ContactHeader')
      h2(class='ContactTitle') CONTACTO

    div(class='ContactSegment')
      p(class='ContactText') Centro de atención al cliente
      p(class='ContactText') 01 800 624 5030
      p(class='ContactText') Lunes a Viernes de 06:00 a 24:00 hrs
      p(class='ContactText') Sábados de 06:00 a 21:00 hrs
      p(class='ContactText') Domingos de 07:00 a 14:00 hrs

      br

      p(class='ContactText') Telefono Célular
      p(class='ContactText') 921 240 9834
      p(class='ContactText') Escribenos a:
      p(class='ContactText') hola@musichunter.com

    div(class='ContactSegment')
      form(class='ContactForm')
        input(class='ContactInput', type='text', placeholder='Nombre')
        input(class='ContactInput', type='text', placeholder='Email')
        textarea(class='ContactTextarea', type='text', placeholder='Mensaje')
        input(class='ContactSubmit', type='submit', value='Enviar')
