footer(class='Footer')
  p(class='FooterText')
    i(class='FooterIcon fa fa-facebook-square', aria-hidden='true')
    i(class='FooterIcon fa fa-twitter-square', aria-hidden='true')
    i(class='FooterIcon fa fa-instagram', aria-hidden='true')
  p(class='FooterText') Powerede By
    a(class='FooterLink', href='http://steed.mx') steed
