footer(class='Footer')
  p(class='FooterText')
    a(href='https://www.facebook.com/musichuntermx/')
      i(class='FooterIcon fa fa-facebook-square', aria-hidden='true')
    a(href='https://twitter.com/musichuntermx')
      i(class='FooterIcon fa fa-twitter-square', aria-hidden='true')
    a(href='https://www.instagram.com/musichuntermx/')
      i(class='FooterIcon fa fa-instagram', aria-hidden='true')
  p(class='FooterContact')  Teléfono
  p(class='FooterContact')  5547359984
  p(class='FooterContact')  Escríbenos a:
  p(class='FooterContact')  hola@musichunter.mx
  p(class='FooterText') Powered By #[a(href="http://animeishon.studio") Animeishon Studio]
