article(class='Gallery')
  div(class='GalleryContainer')
    header(class='GalleryHeader')
      h2(class='GalleryTitle') GALERÍA

    ul(class='GalleryList')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
      li(class='GalleryItem')
        img(class='GalleryPicture', src='images/header-drums.png')
