article(class='Gallery')
  div(class='GalleryContainer')
    h2(class='GalleryTitle')
    ul(class='GalleryList')
      li(class='GalleryItem')
        img(class='GalleryPicture')
      li(class='GalleryItem')
        img(class='GalleryPicture')
      li(class='GalleryItem')
        img(class='GalleryPicture')
      li(class='GalleryItem')
        img(class='GalleryPicture')
