article(class='Hero', id='hero')
  div(class='HeroContainer')
    img(class='HeroDisk', src='images/background-disk.png')

    header(class='HeroHeader')
      a(class='HeroButton', href='https://goo.gl/forms/zdMHDGXHhe6s1RPD2') ÚNETE
