nav(class='Nav')
  div(class='NavContainer')
    ul(class='NavTabs')
      li(class='NavItem')
        a(class='NavLink', href='#hero')
          img(class='NavLogoImage', src='images/logo.png')
      li(class='NavItem')
        a(class='NavLink', href='#us') NOSOTROS
      li(class='NavItem')
        a(class='NavLink', href='#blog') BLOG
      li(class='NavItem')
        a(class='NavLink', href='#gallery') GALERIA
      li(class='NavItem')
        a(class='NavLink', href='#contact') CONTACTO
