nav(class='Nav')
  div(class='NavContainer')
    ul(class='NavTabs')
      li(class='NavItem')
        a(class='NavLink', href='#hero')
          img(class='NavLogoImage', src='images/logo.png')
      li(class='NavItem')
        a(class='NavLink unete-link', href='https://goo.gl/forms/zdMHDGXHhe6s1RPD2') ÚNETE
      li(class='NavItem')
        a(class='NavLink', href='#welcome') NOSOTROS
      li(class='NavItem')
        a(class='NavLink blog-link', href='http://blog.musichunter.mx') BLOG
      li(class='NavItem')
        a(class='NavLink', href='#gallery') GALERIA
      li(class='NavItem')
        a(class='NavLink', href='#contact') CONTACTO
