nav(class='Nav')
  div(class='NavContainer')
    ul(class='NavTabs')
      li(class='NavItem')
        a(class='NavLogo', href='#')
          img(class='NavLogoImage', src='images/logo.png')
      li(class='NavItem')
        a(class='NavLink', href='#') NOSOTROS
      li(class='NavItem')
        a(class='NavLink', href='#') EVENTOS
      li(class='NavItem')
        a(class='NavLink', href='#') BLOG
      li(class='NavItem')
        a(class='NavLink', href='#') GALERIA
      li(class='NavItem')
        a(class='NavLink', href='#') CONTACTO
