article(class='Us', id='us')
  div(class='UsContainer')
    header(class='UsHeader')
      h2(class='UsTitle') NOSOTROS

    ul(class='UsGallery')
      li(class='UsItem')
        header(class='UsItemHeader', id='drums')
          h3(class='UsItemTitle') POR QUE HACEMOS ESTO?
        div(class='UsItemBody')
          p(class='UsItemDescription') México es un país que emana talento, estámos decididos a hacerlo sonar por todo el mundo
          a(class='UsItemLink', href='#', id='why') Leer más

      li(class='UsItem')
        header(class='UsItemHeader', id='saxo')
          h3(class='UsItemTitle') QUÉ ME ESTÁN DICIENDO?
        div(class='UsItemBody')
          p(class='UsItemDescription') Para crecer tienes que tocar, al del garage de tus papas! Nosotros te hacemos un calendario de toquines, fino, fino.
          a(class='UsItemLink', href='#', id='what') Leer más

      li(class='UsItem')
        header(class='UsItemHeader', id='guitar')
          h3(class='UsItemTitle') CÓMO?
        div(class='UsItemBody')
          p(class='UsItemDescription') En Music Hunter nos dedicamos a dos cosas: te conectamos con venues y hacemos una curaduría de cada uno para que los que te tienen que escuchar lo hagan.
          a(class='UsItemLink', href='#', id='how') Leer más
