article(class='Us')
  div(class='UsContainer')
    h2(class='UsTitle')
    ul(class='UsGallery')
      li(class='UsItem')
        header(class='UsItemHeader')
          h3(class='UsItemTitle') Y BUENO, POR QUE HACEMOS ESTO?
        div(class='UsItemBody')
          p(class='UsItemDescription') México es un país que emana talento, estámos decididos a hacerlo sonar por todo el mundo
          a(class='UsItemLInk') Leer más

      li(class='UsItem')
        header(class='UsItemHeader')
          h3(class='UsItemTitle') QUÉ ME ESTÁN DICIENDO?
        div(class='UsItemBody')
          p(class='UsItemDescription') Para crecer tienes que tocar, al del garage de tus papas! Nosotros te hacemos un calendario de toquines, fino, fino.
          a(class='UsItemLInk') Leer más

      li(class='UsItem')
        header(class='UsItemHeader')
          h3(class='UsItemTitle') CÓMO?
        div(class='UsItemBody')
          p(class='UsItemDescription') En Music Hunter nos dedicamos a dos cosas: te conectamos con venues y hacemos una curaduría de cada uno para que los que te tienen que escuchar lo hagan.
          a(class='UsItemLInk') Leer más
