doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(href='css/main.css', rel='stylesheet')
  body
    include includes/popups/how.pug
    include includes/popups/why.pug
    include includes/popups/what.pug

    include includes/nav.pug
    include includes/mobile/nav.pug

    include includes/hero.pug
    include includes/banner.pug
    include includes/us.pug
    include includes/gallery.pug
    include includes/blog.pug
    include includes/contact.pug

    include includes/footer.pug

    script(src='javascript/app.js', async='true', defer='true')
