doctype html
html
  head
    meta(charset='utf-8')
    link(href='css/main.css', rel='stylesheet')
  body
    include includes/nav.pug
    include includes/hero.pug
    include includes/banner.pug
    include includes/us.pug
    include includes/gallery.pug
    include includes/blog.pug
    include includes/contact.pug

    script(src='javascript/app.js', async='true', defer='true')
