nav(class='NavMobile')
  div(class='NavMobileBar')
    img(class='NavMobileLogo', src='images/logo.png')
    a(class='NavMobileMenu', id='nav-mobile-menu') MENU

  ul(class='NavMobileTabs', data-visible='false', id='nav-mobile-tabs')
    li(class='NavMobileItem')
      a(class='NavMobileTabsLink', href='#us') NOSOTROS

    li(class='NavMobileItem')
      a(class='NavMobileTabsLink', href='#gallery') GALERIA

    li(class='NavMobileItem')
      a(class='NavMobileTabsLink', href='#blog') BLOG

    li(class='NavMobileItem')
      a(class='NavMobileTabsLink', href='#contact') CONTACTO
