$primary-red = #ee3223
$primary-red-transparent = rgba(238,50,35,0.6)

$primary-white = rgb(250, 250, 250)

$primary-black = rgb(40, 40, 40)
$secondary-black = rgb(80, 80, 80)

$primary-gray = rgb(200, 200, 200)
