@font-face {
  font-family: 'Florida';
  src: url('../fonts/Florida Project Phase One.otf'),
       url('../fonts/Florida Project Phase One.ttf');
}

@font-face {
  font-family: 'Molot';
  src: url('../fonts/Molot.otf');
}
